<h3>Projects</h3>
<ul class="media-list">
  <% links.each do |link| %>
    <li><a onclick="mixpanel.track('<%= link[:id] %>')" target="_blank" href="<%= link[:href] %>"><%= link[:text] %></a></li>
  <% end %>
</ul>
