<ul class="square">
  <% links.each do |link| %>
    <li><a onclick="mixpanel.track('<%= link[:id] %>')-clicked" target="_blank" href="<%= link[:href] %>"><%= link[:text] %></a></li>
  <% end %>
</ul>
