<% content_for :page_id do %>alive<% end %> 

<% content_for :sidebar do %>
  <%= partial(:nav, :locals => {:links => [
              {:href => "index.html", :text => "Home"}
  ]}) %>
<% end %>

<% content_for :header do %>
  <h1><a href="index.html">Sagar Pandya</a></h1>
<% end %>

<div class="doc-section" id="glad">
  <h3>Blah</h3>
  <ul class="square">
    <li>Hmm</li>
  </ul>
</div>

<div class="doc-section" id="not">
  <h3>Foo</h3>
  <ul class="square">
    <li>Blah</li>
  </ul>
</div>
