<% content_for :page_id do %>index<% end %> 

<% content_for :sidebar do %>
  <%= partial(:nav, :locals => {:links => [
              {:text => "Github",       :mixpanel => "github",   :href => "http://github.com/sagargp"},
              {:text => "Facebook",     :mixpanel => "facebook", :href => "http://facebook.com/sagargp"},
              {:text => "Twitter",      :mixpanel => "twitter",  :href => "http://twitter.com/sagargp"},
              {:text => "LinkedIn",     :mixpanel => "linkedin", :href => "http://www.linkedin.com/in/sagargp"},
              {:text => "Resume (PDF)", :mixpanel => "resume",   :href => "downloads/SagarPandya_Resume.pdf"},
              {:text => "PGP",          :mixpanel => "pgp",      :href => "http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x21701E925C11B1B0"},
  ]}) %>
<% end %>

<div class="well doc-section">
  <h3>About me</h3>
  <p>I am a graduate from UCSB (computer engineering, 2009) and USC (computer science, 2012). I'm curious about most things. I like stories, especially in musical form. At night, I become easily distracted by the sky. In my spare time, I like to read and get stressed out about how much there is to learn in the world.</p>
</div>

<div class="well doc-section">
    <%= partial(:projects, :locals => {:links => [
                {:title     => "Nbody",
                  :mixpanel => "nbody",
                  :href     => "http://github.com/sagargp/nbody",
                  :text     => "A 2-dimensional n-body gravity simulator that uses a quad-tree ot speed up calculations.",
                  :lang     => "Processing"},

                {:title     => "Nimbus",
                  :mixpanel => "nimbus",
                  :href     => "http://github.com/sagargp/Nimbus",
                  :text     => "Mount your CloudApp account as a volume in OSX.",
                  :lang     => "Objective-C" },

                {:title     => "Automover",
                  :mixpanel => "automover",
                  :href     => "http://github.com/sagargp/automover",
                  :text     => "Sort media based on contextual hints in the filename.",
                  :lang     => "Python" },

                {:title     => "Minimum distance",
                  :mixpanel => "mindist",
                  :href     => "http://github.com/sagargp/minimum_distance",
                  :text     => "Segment point-cloud data to find the closest pair of Lego blocks.",
                  :lang     => "C++" },

                {:title     => "Trollicons",
                  :mixpanel => "trollicons",
                  :href     => "http://github.com/sagargp/trollicons",
                  :text     => "Automatically create emoticon packs for several instant messenger applications.",
                  :lang     => "Ruby" },

                {:title     => "iJoystick",
                  :mixpanel => "ijoystick",
                  :href     => "http://github.com/sagargp/nrt-modules/tree/master/iOS/iNRTJoystick",
                  :text     => "Control a robot by sending joystick data over UDP, encapsulated in JSON strings.",
                  :lang     => "Objective-C" },

                {:title     => "Fast variance ridge detector",
                  :mixpanel => "vrd",
                  :href     => "http://github.com/sagargp/vrd_sse",
                  :text     => "An SSE optimized ridge detector.",
                  :lang     => "C++" },

                {:title     => "Dotfiles",
                  :mixpanel => "dotfiles",
                  :href     => "http://github.com/sagargp/dotfiles",
                  :text     => "A centralized way to manage my shell and VIM configuration files.",
                  :lang     => "Bash & Python" }
    ]}) %>
</div>
