<% content_for :page_id do %>resume<% end %> 

<% content_for :sidebar do %>
  <%= partial(:nav, :locals => {:links => [
              {:href => "index.html", :text => "Back"},
              {:href => "#education", :text => "Education"},
              {:href => "#qualifications", :text => "Qualifications"},
              {:href => "#work", :text => "Work"},
              {:href => "#academics", :text => "Academics"},
              {:href => "#extra", :text => "Extra"}
  ]}) %>
<% end %>

<% content_for :header do %>
  <div>
    <span style="float: left"><h1><a href="index.html">Sagar Pandya</a></h1></span>
    <span style="float: right"><a href="downloads/SagarPandya_Resume.pdf">Download PDF</a></span>
  </div>
<% end %>

<div class="doc-section" id="education">
  <h5>Education</h5>
  <span style="float: left; width: 400px">
    <p><b>MS in Computer Science</b><br/>
    University of Southern California</p>
    <p><b>BS in Computer Engineering</b><br/>
    University of California, Santa Barbara</p>
  </span>

  <span style="">
    <p>Expected May 2012<br/>&nbsp;</p>
    <p>Conferred June 2009<br/>&nbsp;</p>
  </span>
</div>

<div class="doc-section" id="qualifications">
  <h5>Qualifications</h5>
  <ul>
    <li class="first">Programming</li>
    <li>BASH</li>
    <li>C/C++</li>
    <li>HTML & CSS</li>
    <li>Java</li>
    <li>JavaScript</li>
    <li>Matlab</li>
    <li>PHP</li>
    <li>Python</li>
    <li class="last">SQL</li>
  </ul>

  <ul>
    <li class="first">Tools</li>
    <li>*nix administration</li>
    <li>Adobe Photoshop</li>
    <li>Git</li>
    <li>Matlab</li>
    <li>Subversion</li>
    <li class="last">Vim</li>
  </ul>
</div>

<div class="doc-section" id="work">
  <h5>Work experience</h5>
  <p><b>Affiliate Intern</b>, Jet Propulsion Laboratory, Pasadena, California (June 2012-August 2012).<br/>
  Performed optimizations of an automated target recognition system in Matlab. Implemented optimizations in C
  compiled into MEX files. Ported a novel target detection algorithm from raw C to MEX to test its effectiveness
  in the overall target recognition pipeline.</p>

  <p><b>Graduate Technical Intern</b>, Intel Corporation, Hillsboro, Oregon (May 2011-August 2011).<br/>
  Researched methods for the implementation of a tool that would aid in the rapid development of device
  firmware. Developed a prototype of the tool using Python and the wxWidgets graphical toolkit.</p>

  <p><b>Developer Intern</b>, Novacoast, Inc., Santa Barbara, California (June 2008-July 2010).<br/>
  Led an intern in the development of a web application using PHP, JavaScript, Adobe Flex, and MySQL. Developed 
  an enterprise data-synchronization engine using Python, XML, and XSLT. Worked on feature and stability enhancements 
  of a Linux-based business server suite written in Python.</p>

  <div class="optional">
    <p><b>Resource Assistant</b>, Gevritz Graduate School of Education, UC Santa Barbara (June 2007-June 2008).<br/>
    Managed three computer labs using Windows Active Directory. Handled the checkout of computer equipment to students. 
    Implemented and managed a department-wide electronic door lock system and deployed a virtualized server using VMWare 
    Workstation to ease its maintenance.</p>
  </div>
</div>


<div class="doc-section" id="academics">
  <h5>Academic experience</h5>
  <div>
    <p><b>Graduate Research</b>, University of Southern California (Fall 2011-Spring 2012).<br/>
    Developed robotics control software for an in-house modular robotics framework using C++, Objective-C, and Python. 
    Optimized a computer vision algorithm for the lab, gaining a 200% speed increase using SSE2 and SSE3 compiler intrinsics.</p>
  </div>

  <div>
    <p><b>Senior Capstone Project</b>, UC Santa Barbara (Fall 2008-Spring 2009).<br/>
    Developed an electronic door lock that sensed a user’s presence via their Bluetooth cell phone. Designed custom 
    electronic parts, schematics, and circuit boards using Mentor Graphics tools; developed embedded code that interfaced
    with RS232 devices and MAC layer protocols; programmed a web application for device configuration; and implemented a
    server backend to manage the device on a network. Development in C, PHP, and SQL.</p>
  </div>

  <div class="optional">
    <p><b>Private Tutor</b>, UC Santa Barbara Student, UC Santa Barbara (Spring 2009).<br/>
    Helped a UC Santa Barbara electrical engineering student achieve the highest grade in a senior network-programming 
    course that required knowledge of socket programming, Java RPCs, and GUI programming using the Java NetBeans IDE.</p>
  </div>

  <div class="optional">
    <p><b>Undergraduate Research</b>, UC Santa Barbara (Spring 2009).<br/>
    Researched methods to alleviate the effects of the visual disorder Retinitis Pigmentosa under Professor Steven Butner.</p>
  </div>

</div>

<div class="doc-section" id="extras">
  <h5>Extracurricular</h5>
  <ul>
    <li class="first">Professional Memberships</li>
    <li>Electrical and Computer Engineering Honor Society (HKN)</li>
    <li>USC Robotics Society (USCRS)</li>
    <li class="last">Association for Computing Machinery (ACM)</li>
  </ul>

  <p><b>Nimbus:</b> (Objective-C) Kickstarter funded FUSE filesystem that allows Mac OSX users to mount their CloudApp account as a virtual disk.</p>
  <p><b>Automover:</b> (Python) A flexible command-line utility that automatically sorts media based on contextual hints in the filename.</p>
  <p><b>Minimum Distance:</b> (C++) A ROS node that segments point-cloud data to find the closest pair of colored blocks.</p>
  <p><b>Trollicons:</b> (Ruby) A build system that automatically creates emoticon packs for several instant messenger applications. Allows the classification of icons into namespaces for cleaner organization. Resulting icon packs have over 20,000 downloads.</p>
  <p><b>iJoystick:</b> (Objective-C) An iOS application that controls a robot over UDP by sending joystick data as JSON strings.</p>

</div>
